<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935634309491-1ifv2d0ovfbi34hipp7idjau52aod26e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935634309491-1ifv2d0ovfbi34hipp7idjau52aod26e</string>
	<key>API_KEY</key>
	<string>AIzaSyCjp7TXvxBplvVkreAotNwdBeDqtjIe6T4</string>
	<key>GCM_SENDER_ID</key>
	<string>935634309491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group.googlesolutions.bestBeforeApp</string>
	<key>PROJECT_ID</key>
	<string>foodify-4c53b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodify-4c53b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935634309491:ios:c7b8cee9830e6027eab506</string>
</dict>
</plist>